@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
}


@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["SuccessMessage"]
    </div>
}


<h1>Parola Değişikliği</h1>

<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
</div>

<form asp-controller="Member" asp-action="PasswordChange" method="post">
    <div class="row mb-3">
        <label for="OldPassword" class="col-sm-2 col-form-label" asp-for="OldPassword"></label>
        <div class="col-sm-10">
            <input asp-for="OldPassword" class="form-control">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="NewPassword" class="col-sm-2 col-form-label" asp-for="NewPassword"></label>
        <div class="col-sm-10">
            <input asp-for="NewPassword" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>    
    <div class="row mb-3">
        <label for="ConfirmNewPassword" class="col-sm-2 col-form-label" asp-for="ConfirmNewPassword"></label>
        <div class="col-sm-10">
            <input asp-for="ConfirmNewPassword" class="form-control">
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary float-end">Şifre Değiştir</button>
</form>
